section>h2:first-child{
	margin:0.98em 0;
	padding-left:2vw;
	border-left:3px solid #d43c33;
	line-height: 1;
	font-size: 1.08em;
	font-weight: normal;
}
.topbar{
	background:#d43c33;
	padding:5.6vw 2.5vw;
	display: flex;
	align-items:center;
	justify-content: space-between;
}
.topbar .logo{
	width:38.5vw;
}
.topbar .downloadApp{
	padding:0.2em 0.55em;
	display:block;
	border:1px solid #fff;
	border-radius:1em;
	font-size:0.95em;
	color:#fff;
}

.siteNav{

}
.siteNav ul{
	text-align:center;
	display: flex;
	border-bottom:1px solid #ccc;
}
.siteNav ul>li{
	flex:1;
}
.siteNav ul>li>span{
	font-size:0.95em;
	display:inline-block;
	line-height:12vw;
	position:relative;
}
.siteNav ul>li.active{
	color:#d43c33;
}
.siteNav ul>li.active>span:before{
	content:'';
	position: absolute;
	border-bottom:2px solid #d43c33;
	left:-1vw;
	right:-1vw;
	bottom:0;
}
.content-wrap>li{
	display: none;
}
.content-wrap>li.show{
	display: block;
}

.playlists{
	margin-top:1em;
	padding-bottom:3.5vw;
}
.playlists ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.playlists ul>li{
	width:calc(33.3333333333% - 1vw);
	font-size:0.85em;
	margin-bottom:2vw;
}
.playlists ul>li>p{
	padding:0 1vw;
	display:-webkit-box;
	line-height: 5vw;
	height:10vw;
	 -webkit-line-clamp:2;
	 -webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow: ellipsis;
}
.playlists ul>li>img{
	width:100%;
}

.new-music{

}
.new-music .loading{
	text-align:center;
}
.new-music>ol{

}
.new-music>ol>li{
	position:relative;
	padding:0.5em 0;
	margin-left:3vw;
	border-bottom:1px solid rgba(0,0,0,0.05);
	line-height:1.6;
	font-size:0.8em;
}
.new-music>ol>li>a{
	color:#222;
}
.new-music>ol>li>a>h3{
	font-weight:normal;
	font-size:1.28em;
	padding-bottom: 0.3em;
}
.new-music>ol>li>a>p{
	display: flex;
	align-items: center;
	line-height: 1em;
	color:#888;
}

.icon-sq{
	width:4vw;
	height:4vw;
	fill:#fe672e;
	margin-right: 0.5vw;
}
.new-music>ol>li>a>.icon{
	position:absolute;
	right:3vw;
	top:50%;
	transform:translateY(-50%);
	width: 2em;
	height:7vw;
	fill:#999;
}
section.art{
	text-align:center;
	background:url('//s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922');
	background-size:cover;
}
.footer-logo{
	padding-top:23vw;
}
.footer-logo>.logosvg{
	width:61.7vw;
	/*margin:0 auto;*/
}
.btn-app{
	display:block;
	max-width:81.5vw;
	padding:0.8vw 0;
	margin:2vw auto 0 auto;
	text-align:center;
	color:#d43c33;
	border:1px solid;
	font-size:4.3vw;
	text-decoration:none;
	line-height:8.7vw;
	border-radius:1.5em;
}
.copyright{
	line-height:1.5em;
	color:#888;
	font-size:12px;
	transform:scale(.75);
	padding-bottom:1.5em;
}


.hot-music>.banner{
	padding:19%;
	position: relative;
	overflow:hidden;
	background:url('http://ozb1j982i.bkt.clouddn.com/banner.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	padding-left:5vw;
}
.banner:after{
	content: "";
	position: absolute;
	z-index:0;
	right: 0;
	left:0;
	bottom:0;
	top:0;
	background:rgba(0,0,0,0.2);
}
.banner-content{
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	right:0;
	left:0;
	top:0;
	bottom:0;
	z-index: 2;
	padding-left:5vw;
}
.hot-music>.banner>.banner-content>h2{
	width:7em;
	height:3em;
	background:url('http://ozb1j982i.bkt.clouddn.com/icon.png');
	background-repeat: no-repeat;
	background-position:-27px -30px;
	background-size:166px 97px;
}
.hot-music>.banner>.banner-content>p{
	left: 0;
	color:#fff;
	margin-top:0.5vw; 
	margin-left:-13.5vw;
	transform: scale(.75);
}

.search-music{
	position: relative;
	padding:4vw;
	border-bottom:1px solid #efeef0;
}
.search-btn>input{
	line-height:2.2em;
	width:100%;
	border:1px solid #efeef0;
	border-radius:2em;
	background:#ededee;
	text-indent: 2em;
	color:#222;
}
.icon-search{
	position: absolute;
	left:5vw;
	top:5.3vw;
	fill:#888;
	width:6vw;
	height:6vw;
}